configuration {
    modi:                      "combi";
    combi-modi:                "drun,system:~/.config/rofi/rofi_system_menu.sh";
	combi-hide-mode-prefix:    true;

	hide-scrollbar:    true;
	theme:             "start";

	kb-cancel:        "Escape,Control+g,Control+bracketleft";
	kb-mode-next:     "Shift+Right,Control+Tab";
	kb-mode-previous: "Shift+Left,Control+ISO_Left_Tab";
}
