/*

File:        ~/.config/rofi/config.rasi
Maintainer:  wasabi315
Modified:    2018-7-23
License:     MIT

*/


configuration {
    modi:                "drun,system:~/.config/rofi/rofi_system_menu.sh,ssh";

	hide-scrollbar:    true;
	theme:             "mytheme";

    show-icons:        true;
    drun-icon-theme:   "Numix-Circle";

    sidebar-mode: true;

	kb-cancel:        "Escape,Control+g,Control+bracketleft";
	kb-mode-next:     "Control+semicolon";
	kb-mode-previous: "Control+colon";
}
